// Project Colors
$black: #58595D;
$white: #ffffff;

$mainBlue: #4E79AC;
$mainGrey: #78909C;

$lightBlue: #EDF0F4;
$lightGrey: #F4F4F5;

$borderGrey: #E3E4E5;

// Media Queries
$smBreak: 480px;
$mdBreak: 768px;
$lgBreak: 1200px;
$xlBreak: 1500px;